@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-VariableFont_wght.woff2') format('woff2');
}

$primary-reaction: hsl(0, 100%, 67%);
$primary-reaction-bg: hsla(0, 100%, 67%, 0.050);
$primary-memory: hsl(39, 100%, 56%);
$primary-memory-bg: hsla(39, 100%, 56%, 0.050);
$primary-verbal: hsl(166, 100%, 37%);
$primary-verbal-bg: hsla(166, 100%, 37%, 0.050);
$primary-visual: hsl(234, 85%, 45%);
$primary-visual-bg: hsla(234, 85%, 45%, 0.050);

$gradiend-background-1: hsl(252, 100%, 67%);
$gradiend-background-2: hsl(241, 81%, 54%);
$gradient-circle-1: hsla(256, 72%, 46%, 1);
$gradient-circle-2: hsla(241, 72%, 46%, 0);

$neutral-white: hsl(0, 0%, 100%);
$neutral-lavender: hsl(241, 100%, 89%);
$neutral-pale-blue: hsl(221, 100%, 96%);

$neutral-max-score: hsla(241, 100%, 89%, 0.500);
$neutral-button: hsl(224, 30%, 27%);
$shadow-color: lightgray;
$attribution-link: hsl(228, 45%, 44%);

html, body {
    //centralizing the page
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Hanken Grotesk', serif;
    @media only screen and (height > 768px) and (width > 768px) {
        justify-content: center;
    }
}

.wrapper  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 20px 20px 50px $shadow-color;
    border-radius: 25px;
    height: 512px;
    @media only screen and (width < 768px) {
        flex-direction: column;
        min-height: 960px;
        box-shadow: none;
    }
}

///=========================

.result {
    width: 50%;
    @media only screen and (width < 768px) {
        width: 100%;
        height: 50%;
        margin-top: -30px;
    }
    height: 512px;
    color: $neutral-white;
    background: linear-gradient(
        $gradiend-background-1,
        $gradiend-background-2
    );
    border-radius: 30px;
    text-align: center;
}

.result__header {
    margin-top: 39px;
    margin-bottom: 35px;
    @media only screen and (width < 768px) {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    font-weight: 700;
    color: $neutral-lavender;
    font-size: 23px;    
}

.score-circle {
    display: inline-block;
    width: 200px;
    padding-top: 43px;
    height: 157px;
    border-radius: 50%;
    background: linear-gradient(
        $gradient-circle-1,
        $gradient-circle-2
        );
}

.score-circle__user-score {
    font-size: 72px;
    font-weight: 800;
}

.score-cirlce__max-score {
    font-size: 18px;
    font-weight: 600;
    color: $neutral-max-score;
    margin-top: -6px;
}

.result__eval {
    margin-top: 27px;
    @media only screen and (width < 768px) {
        margin-top: 20px;
    }
    font-weight: 700;
    font-size: 32px;
}

.result__description {
    margin: 15px 20% 30px 20%;
    @media only screen and (width < 768px) {
        margin-top: 5px;
        min-width: 285px;
    }
    font-size: 18px;
    color: $neutral-lavender;
    font-weight: 500;
}

///=========================

.summary {
    width: 50%;
     @media only screen and (width < 768px) {
        width: 100%;
        height: 50%;
     }
}

.summary__header {
    margin-top: 39px;
    margin-bottom: 28px;
    margin-left: 10%;
    font-size: 23px;
    font-weight: 700;
}

.summary__stats-table {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}

.summary__stats-table > div {
    margin-top:16px;
}

.reaction-bar {
    background-color: $primary-reaction-bg;
    border-radius: 10px;
    padding: 10px;
    height: 36px;
}

.reaction-bar__image {
    margin-top: 7px;
    margin-left: 3px;
    height: 20px;
}

.reaction-bar__title {
    color: $primary-reaction;
    font-weight: 600;
    display: inline-block;
    vertical-align:top;
    margin-left: 5px;
    margin-top: 6px;
}

.reaction-bar__scores {
    float: inline-end;
    margin-top: 6px;
    margin-right: 5px;
}

.reaction-bar__user-score {
    font-weight: 600;
}

.reaction-bar__max-score {
    margin-left: 3px;
    color: gray;
    font-weight: 600;
}

.memory-bar {
    background-color: $primary-memory-bg;
    border-radius: 10px;
    padding: 10px;
    height: 36px;
}

.memory-bar__image {
    margin-top: 7px;
    margin-left: 3px;
    height: 20px;
}

.memory-bar__title {
    color: $primary-memory;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 6px;
}

.memory-bar__scores {
    float: inline-end;
    margin-top: 6px;
    margin-right: 5px;
}

.memory-bar__user-score {
    font-weight: 600;
}

.memory-bar__max-score {
    margin-left: 3px;
    color: gray;
    font-weight: 600;
}

.verbal-bar {
    background-color: $primary-verbal-bg;
    border-radius: 10px;
    padding: 10px;
    height: 36px;
}

.verbal-bar__image {
    margin-top: 7px;
    margin-left: 3px;
    height: 20px;
}

.verbal-bar__title {
    color: $primary-verbal;
    font-weight: 600;
    display: inline-block;
    vertical-align:top;
    margin-left: 5px;
    margin-top: 6px;
}

.verbal-bar__scores {
    float: inline-end;
    margin-top: 6px;
    margin-right: 5px;
}

.verbal-bar__user-score {
    font-weight: 600;
}

.verbal-bar__max-score {
    margin-left: 3px;
    color: gray;
    font-weight: 600;
}

.visual-bar {
    background-color: $primary-visual-bg;
    border-radius: 10px;
    padding: 10px;
    height: 36px;
}

.visual-bar__image {
    margin-top: 7px;
    margin-left: 3px;
    height: 20px;
}

.visual-bar__title {
    color: $primary-visual;
    font-weight: 600;
    display: inline-block;
    vertical-align:top;
    margin-left: 5px;
    margin-top: 6px;
}

.visual-bar__scores {
    float: inline-end;
    margin-top: 6px;
    margin-right: 5px;
}

.visual-bar__user-score {
    font-weight: 600;
}

.visual-bar__max-score {
    margin-left: 3px;
    color: gray;
    font-weight: 600;
}

.summary__footer {
    margin-top: 40px;
    margin-bottom: 12%;
    text-align: center;
}

.summary__button {
    padding: 5px;
    width: 80%;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    background-color: $neutral-button;
    color: $neutral-white;
}

.summary__button:hover {
    //change to "summary__button--active" when using JS
    padding: 5px;
    width: 80%;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    background: linear-gradient(
        $gradiend-background-1,
        $gradiend-background-2
    );
    color: $neutral-white;
}

///=========================

.attribution {
    padding-top: 64px;
    padding-bottom: 32px;
    @media only screen and (width < 768px) {
        padding-top: 0px;
        padding-bottom: 16px;
    }
    font-size: 11px; 
    text-align: center; 
}
.attribution__link { 
    color: $attribution-link; 
}