@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-VariableFont_wght.woff2') format('woff2');
}

html, body {
    height: 100%;
}

.flex-wrapper {
    font-family: 'Hanken Grotesk', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

.attribution { 
    font-family: 'Hanken Grotesk', serif;
    font-size: 11px; 
    text-align: center; 
}
.attribution__link { 
    color: hsl(228, 45%, 44%); 
}