@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-VariableFont_wght.woff2') format('woff2');
}

$primary-reaction: hsl(0, 100%, 67%);
$primary-reaction-bg: hsla(0, 100%, 67%, 0.250);
$primary-memory: hsl(39, 100%, 56%);
$primary-memory-bg: hsla(39, 100%, 56%, 0.250);
$primary-verbal: hsl(166, 100%, 37%);
$primary-verbal-bg: hsla(166, 100%, 37%, 0.250);
$primary-visual: hsl(234, 85%, 45%);
$primary-visual-bg: hsla(234, 85%, 45%, 0.250);

$gradiend-background-1: hsl(252, 100%, 67%);
$gradiend-background-2: hsl(241, 81%, 54%);
$gradient-circle-1: hsla(256, 72%, 46%, 1);
$gradient-circle-2: hsla(241, 72%, 46%, 0);

$neutral-white: hsl(0, 0%, 100%);
$neutral-button: hsl(224, 30%, 27%);

$shadow-color: lightgray;
$attribution-link: hsl(228, 45%, 44%);


.wrapper  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 20px 20px 50px $shadow-color;
    border-radius: 25px;
    @media only screen and (width < 768px) {
        flex-direction: column;
    }
}



html, body {
    /*centralizing the element*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', serif;
}




.result {
    width: 50%;
    @media only screen and (width < 768px) {
        width: 100%;
    }
}



.result {
    color: $neutral-white;
    background: linear-gradient(
        $gradiend-background-1,
        $gradiend-background-2
    );
    border-radius: 25px;
    text-align: center;
}

.result__header {
    margin-top: 15%;
    margin-bottom: 20%;
    font-weight: 700;
}

.score-circle {
    display: inline-block;
    width: 150px;
    padding-top: 30px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(
        $gradient-circle-1,
        $gradient-circle-2
        );
}

.score-circle__user-score {
    font-size: 48px;
    font-weight: 800;
}

.result__eval {
    margin-top: 25%;
}

.result__description {
    margin: 1% 25% 15% 25%;
    font-size: 10px;
    
}


.summary {
    width: 50%;
     @media only screen and (width < 768px) {
        width: 100%;
     }
}

.summary__header {
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 10%;
    font-weight: 700;
}

.summary__stats-table {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
}

.summary__stats-table > div {
    margin-top:10px;
}

.reaction-bar {
    background-color: $primary-reaction-bg;
    border-radius: 10px;
    padding: 10px;
    height: 16px;
}

.reaction-bar__image {
    margin-left: 3px;
    height: 16px;
}

.reaction-bar__title {
    color: $primary-reaction;
    font-weight: 700;
    display: inline-block;
    vertical-align:top;
    margin-left: 5px;
}

.reaction-bar__scores {
    float: inline-end;
}

.reaction-bar__user-score {
    font-weight: 700;
}

.memory-bar {
    background-color: $primary-memory-bg;
    border-radius: 10px;
    padding: 10px;
    height: 16px;
}

.memory-bar__image {
    margin-left: 3px;
    height: 16px;
}

.memory-bar__title {
    color: $primary-memory;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.memory-bar__scores {
    float: inline-end;
}

.memory-bar__user-score {
    font-weight: 700;
}

.verbal-bar {
    background-color: $primary-verbal-bg;
    border-radius: 10px;
    padding: 10px;
    height: 16px;
}

.verbal-bar__image {
    margin-left: 3px;
    height: 16px;
}

.verbal-bar__title {
    color: $primary-verbal;
    font-weight: 700;
    display: inline-block;
    vertical-align:top;
    margin-left: 5px;
}

.verbal-bar__scores {
    float: inline-end;
}

.verbal-bar__user-score {
    font-weight: 700;
}

.visual-bar {
    background-color: $primary-visual-bg;
    border-radius: 10px;
    padding: 10px;
    height: 16px;
}

.visual-bar__image {
    margin-left: 3px;
    height: 16px;
}

.visual-bar__title {
    color: $primary-visual;
    font-weight: 700;
    display: inline-block;
    vertical-align:top;
    margin-left: 5px;
}

.visual-bar__scores {
    float: inline-end;
}

.visual-bar__user-score {
    font-weight: 700;
}

.summary__footer {
    margin-top: 15%;
    margin-bottom: 12%;
    text-align: center;
}

.summary__button {
    padding: 5px;
    width: 80%;
    border: none;
    border-radius: 25px;
    background-color: $neutral-button;
    color: $neutral-white;
}



.attribution {
    position: absolute;
    bottom: 25px;
    font-size: 11px; 
    text-align: center; 
}
.attribution__link { 
    color: $attribution-link; 
}